
*{
    font-family:'Times New Roman', Times, serif;
    margin:0px;
    padding:0px;
    
}
body{
    background-color:#EEC9CA;
}
h1{
    text-transform:capitalize;
}
.heading{

    
    text-align:center;
    color:#4A1010;
    
}
#links {
    text-align:center;
}
p{
    color:#9E3337;
}

#site{
    width:93.25px;
}
article{
    
    text-align:center;
    color:rgb(157, 66, 66);
}
B{
    color:rgb(157, 66, 66);
}
#box {

    background-color:#4A1010;
    height: 40px;
    padding-top:15px;
    padding-left: 20px;
  
}

a{
    text-decoration: none;
    color:rgb(157, 66, 66);
}
textarea{
    background-color:#fddada;
}
FOOTER{
    margin:-7px;
    background-color:rgb(245, 199, 199);
}
